Program 1:- Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence 
on a single line.

In [1]:
first=True
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        if not first:
            print(',',end="")
        print(i,end="")
        first=False

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Program 2 : Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line. 
Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

In [2]:
def fact(num):
    if num==1:
        return 1
    else:
        return num*fact(num-1)
n=int(input('Enter any number to find out factorial : '))
print(fact(n))

Enter any number to find out factorial : 6
720

Program 3: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [3]:
d={}
num=int(input('Enter the number : '))
for i in range(1,num+1):
    d[i]=i*i
d

Enter the number : 5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Program 4: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [4]:
values=input('Enter the values')
list1=values.split(",")
tuple1=tuple(list1)
print(list1)
print(tuple1)

Enter the values6,7,8,2,3
['6', '7', '8', '2', '3']
('6', '7', '8', '2', '3')

Program 5: Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

In [5]:
class StringFunctions:
    def getString(self):
        self.s1=input('Enter any string: ')
    def printString(self):
        print(self.s1.upper())
    def Test(self):
        self.getString()
        self.printString()
s=StringFunctions()
s.Test()

Enter any string: hi this is tejas
HI THIS IS TEJAS

Program 6: Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

In [6]:
import math
c=50
h=30
value = []
items=[i for i in input().split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

4,6,7,8
4,4,5,5

Program 7:- Find same elements in two lists.

In [7]:
a=[2,5,6,7,8]
b=[6,7,9,0,1]
r=[]
for i in a:
    for j in b:
        if i==j:
            r.append(i)
print(r)

# Or there is another way which has less time complexity
def common_ele(list1,list2):
    return list(set(list1)&set(list2))
common_ele([1,2,3,4,5],[5,6,7,8,1])

[6, 7]

[1, 5]

Program 8:- Count the frequency of the element in list

In [8]:
a=[1,2,3,3,4,4,4,4,5,5,5,6,6]
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
b

{1: 1, 2: 1, 3: 2, 4: 4, 5: 3, 6: 2}